* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: whitesmoke;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background-size: 400% 400%;
  animation: backgroundChange 5s ease infinite;
}

@keyframes backgroundChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wrapper {
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
  display: grid;
  margin: 0 auto;
  place-content: center;
  text-align: center;
  height: 100vh;
  padding: 0 4rem;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 900px;
  }
}

.wrapper__intro h1 {
  font-size: 3rem;
  margin: 10px 0;
  line-height: 1.65;
  letter-spacing: 2px;
}

.wrapper__intro p {
  font-size: 2rem;
  margin-left: 2rem;
}

.wrapper__text {
  padding: 1rem 2rem;
  font-size: 2rem;
  color: black;
  background: #bb432c;
  color: white;
  display: inline-block;
  border-radius: 10px;
  margin: 2rem 0;
  text-align: center;
  display: grid;
  place-content: center;
  letter-spacing: 0.8px;
}

@media screen and (min-width: 768px) {
  .wrapper__text {
    font-size: 2.5rem;
    height: 132px;
  }
}

.wrapper textarea {
  margin: 0rem 0 2rem;
  outline: none;
  padding: 1rem 2rem;
  resize: none;
  font-size: 2.5rem;
  border: 5px solid whitesmoke;
  background: transparent;
  caret-color: #c33764;
  border-radius: 5px;
}

.wrapper__countdown {
  width: 100%;
  background: #15C39A 0% 0% no-repeat padding-box;
  color: whitesmoke;
  padding: 1rem 2rem;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 1rem;
  pointer-events: none;
}
footer {
  background-color: rgba(26,32,44,1);
  margin: 0;
}
footer p {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
p {
  font-size: 14px;
  color: #fff;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .wrapper__countdown {
    width: 20%;
  }
}

.wrapper__btn {
  width: 80px;
  padding: 0.5rem 2rem;
  background: transparent;
  outline: none;
  border: none;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.wrapper__btn img {
  width: 30px;
  height: auto;
  object-fit: cover;
}

.wrapper__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .wrapper__info {
    flex-direction: row;
  }
}

.modal {
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  position: relative;
  width: 35rem;
  margin: 150px auto;
  border-radius: 5px;
  background: #bb432c;
  padding: 10px;
  font-size: 2rem;
}

.modal h1,
.modal p {
  text-align: center;
  margin-bottom: 2rem;
}

.modal h3 {
  margin-bottom: 1rem;
}

.modal h3 span {
  font-size: 1.9rem;
  letter-spacing: 0.5px;
}

.modal button {
  position: absolute;
  right: 10px;
  padding: 0.5rem;
  background: transparent;
  color: whitesmoke;
  border: 0;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */